* {
  margin: 0; }

header {
  position: fixed;
  height: 35px;
  width: 100%;
  background-color: black;
  box-shadow: 2px 2px 5px rgba(148, 145, 145, 0.136); }

.header-text {
  color: white; }

body {
  background: url("../img/chess.jpg");
  background-size: 1450px 1070px;
  background-position: center; }

.top-menu {
  font-size: 20px;
  margin-top: 50px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly; }

.video {
  margin-top: 500px;
  margin-left: 50px; }
  .video .text_video {
    font-size: 30px;
    margin-left: 30px; }

footer {
  background-color: black;
  height: 148px;
  padding: 14px 23px 0 23px; }
  footer .stick {
    width: 299px;
    height: 4px;
    background-color: #668dc1;
    margin: 0 auto; }
  footer .social {
    display: inline-block; }
  footer .container {
    text-align: center; }
  footer .wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 34px; }
    footer .wrapper .social {
      display: flex;
      width: 33%; }
      footer .wrapper .social_round {
        width: 32px;
        height: 32px;
        background-color: #668dc1;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 9px; }
        footer .wrapper .social_round:hover {
          background-color: #0e73f7; }
      footer .wrapper .social .line {
        max-height: 32px;
        text-decoration: none; }
        footer .wrapper .social .line a {
          text-decoration: none; }
          footer .wrapper .social .line a span {
            color: #fff; }
    footer .wrapper .main_text {
      width: 33%; }
      footer .wrapper .main_text_title {
        margin: 0 auto;
        width: 364px;
        display: flex;
        justify-content: space-around; }
        footer .wrapper .main_text_title .tit a {
          font-size: 15px;
          font-weight: 300;
          text-transform: uppercase;
          color: white;
          text-decoration: none; }
          footer .wrapper .main_text_title .tit a:hover {
            color: #668dc1; }
      footer .wrapper .main_text_subtitle {
        margin: 0 auto;
        display: flex;
        width: 390px;
        justify-content: space-around; }
        footer .wrapper .main_text_subtitle .sub a {
          font-size: 11px;
          font-weight: 300;
          text-transform: uppercase;
          color: #d1cbcb;
          margin-top: 10px;
          text-decoration: none; }
          footer .wrapper .main_text_subtitle .sub a:hover {
            color: #668dc1; }
      footer .wrapper .main_text .lang {
        text-align: center; }
        footer .wrapper .main_text .lang a {
          font-size: 11px;
          font-weight: 400;
          text-transform: uppercase;
          color: #668dc1;
          text-decoration: none;
          margin-top: 19px; }
          footer .wrapper .main_text .lang a:hover {
            color: #0e73f7; }
    footer .wrapper .apps {
      width: 33%;
      display: flex;
      justify-content: flex-end;
      height: 27px; }

a {
  color: white;
  text-decoration: none; }

a:hover {
  color: #668dc1; }

main {
  padding-top: 35px;
  height: 1000px;
  background: url("../img/background.jpg"); }
  main .wrapper {
    margin-top: 35px;
    display: flex;
    justify-content: center; }
    main .wrapper span {
      margin-left: 20px;
      width: 50%; }

.main_page {
  background-image: none; }

body {
  font-family: Tahoma;
  margin: 0; }

h1 {
  text-align: center;
  cursor: help;
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 3px solt black; }

form {
  color: white;
  margin: 0 auto;
  margin-top: 20px;
  background-color: black;
  width: 450px;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.82); }

.group {
  margin: 10px;
  padding: 5px; }

label {
  padding-left: uppercase; }

input {
  margin-top: 10px;
  height: 40px;
  width: 400px;
  border-radius: 20/20;
  border: none;
  padding-left: 15px;
  font-size: 18px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.82); }

input:focus {
  border: 2px solid #7e8278;
  transform: translateX(15px);
  width: 385px; }

button {
  color: white;
  cursor: pointer;
  padding: 10px 30px;
  height: 50px;
  color: white;
  background: #7e8278;
  border: none;
  text-transform: uppercase;
  font-size: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.82); }

button:hover {
  opacity: 0.8;
  font-weight: bold;
  transform: scale(1.1); }

/*# sourceMappingURL=style.css.map */
